@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abyssinica+SIL&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Domine:wght@600&display=swap');

body{
    color: white;
    background-color: #001220;
}
/* NavBar Page */
.navbar{
    background-color: #4a5360;
}
.navbar a{
    color: white;
    font-size: 21px;
    font-weight: 600;
}

/* Home Page */
#home{
    height: 90vh;
}
#home .row{
    padding-top: 100px;
}
#home h1{
    font-family: 'Montserrat', sans-serif;
}
#home h4{
    font-weight: 200;
}
a.my-button{
    background-color: #768498;
    color: #fff;
    font-family: Trebuchet MS;
    font-size: 18px;
    font-weight: 800;
    font-style: normal;
    text-decoration: none;
    padding-top:6px;
    padding-bottom: 6px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
   }
   a.my-button:hover{
    box-shadow: 0px 3px 5px 1px rgba(255, 255, 255, 0.25);
   }
   a.my-button:hover{
    background-color: #707d90;
   }
   a.my-button:active{
    transform: scale(0.95);
   }
#home p{
    font-size: 25px;
    font-family: 'Abyssinica SIL', serif;

}
.back-image-home{
    background-color: #001220;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
/* About section */
hr{
margin: 1rem 0;
border: 4px solid white;
border-radius: 20px;
opacity: 100%;
width: 50%;
}
#about{
    height: 100vh;
}
#about a{
    text-decoration: none;
    text-transform: capitalize;
    color: blue;
    font-weight: 600;
    font-size: large;
}
#about a:hover{
    color: white;
}
.about-img{
    display: flex;
    justify-content: center;
}
#about p{
    font-size: 25px;
    font-family: 'Abyssinica SIL', serif;

}
#about .info{
    padding-top: 100px;
}
#about strong{
    color: rgb(65, 115, 241);
}
.qualification{
    font-size: 20px;
}
.profile{
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile img{
    max-height: 380px;
}
.text-center {
    font-family: 'Domine', serif;
}
.about-img img{
    border-radius: 100%;
    /* padding: 14px; */
    border: 18px solid #012a4a;
    max-height: 380px;
}
.back-image-about{
    background-image: url('./images/circle-scatter-haikei.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.instagram svg{
    color:white;
    text-decoration: none;
}
.linkedin svg{
    color:white;
    text-decoration: none;

}
.github svg{
    color: white;
    text-decoration: none;
}
/* Contact section */
#contact{
    height: 100vh;
}
.form-box {
    max-width: 500px;
    margin: auto;
    background: #001220;
} 
  input[type="text"], textarea {
    width: 100%;
  }
  input[type=submit]{
    margin-top: 8px
  }
.img-fluid-2{
    max-width: 80%;
    height: auto;
}
.user-input {
    margin: 20px 0px;
}
/* Footer Section */
#footer{
    background-color: #8595ad;
}
@media only screen and (max-width: 768px) {
    #home .row{
        padding-top: 0px;
    }
    
    .about-img{
        margin-bottom: 50px;
    }
    #about .info{
        padding-top: 15px;
    }
    #contact .con {
        padding-top: 20px;
    }
    hr{
        margin: 1rem 0;
        border: 4px solid white;
        border-radius: 20px;
        opacity: 100%;
        width: 80%;
        }
    #home p {
    font-family: Abyssinica SIL,serif;
    font-size: 19px;
}
.my-button{
    font-size: 13px;
}
.profile img {
    max-height: 320px;
}

#home h1{
    font-size: calc(1.525rem + 3.3vw)!important;
}
#home h2{
    font-size: calc(0.475rem + 2.7vw);
}
#home h4{
font-size: 15px;
}

.about-img img {
    max-height: 330px;
}
#about p {
font-size:19px;
}
    
}
@media only screen and (max-width: 395px) {
    .contact-heading{
        margin-top: 30px;
    }
    #about{
        height: auto;
    }
    #home{
        height: auto;
    }
    #contact{
        height: auto;
    }
    /* Images */
    .profile img {
        max-height: 300px;
    }
    .about-img img {
        max-height: 250px;
    }
    .contact img {
        max-height: 200px;
        display: none;
    }
    /* Button */
    a.my-button {
        font-size: 9px;
    }
    /* Paragraph */
    #about p {
        font-size: 17px;
    }
    #home p{
        font-size: 17px;
    }
    .back-image-about{
        display: block;
    }
    .form-box{
        display: block;
    }
}
